# Ignore Python virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.egg-info/

# IDE/editor settings (optional, but useful)
.vscode/
*.swp
.DS_Store

# ignore downloaded card data
scryfall_data.json
/temp_downloads/
card_import_cache/
/instance/app.db