body {
    background-color: #121212;
}

.menu {
    background-color: #2f243a;
}

.btn {
    background-color: crimson;
    border-color: white;
}

.btn:hover {
    background-color: lightslategray;
    border-color: white;
}

.homepage-form {
    background-color: #2f243a;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color: lightslategray;
    border-radius: 5px;
    color: white;
}