/* app\static\css\cards.css */

.card {
    background-color: #2f243a;
    border: 1px solid #513a69;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 0 15px #513a69, 0 0 30px #513a69, 0 0 45px #513a69; 
    transform: scale(1.01);
    transition: 0.3s ease;
}

.card:not(:hover) {
    transition: 0.3s ease;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}

.card-title {
    font-weight: bold;
}

.card-description {
    font-size: 0.9em;
    margin-top: 10px;
}

.card-footer {
    font-size: 0.8em;
    color: #a3a3a3;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-footer-btn {
    background-color: #2f243a;
    color: white;
    outline: none !important;
    border: none;
    box-shadow: 0 0 8px 4px #513a69;
    font-weight: bold;   
}

.card-footer-btn:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.card-footer-btn:not(:hover) {
    transition: 0.3s ease;
}

.card-grid.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card-grid.grid-view .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-grid.grid-view .card-body {
    flex: 1;
}

/* List View */
.card-grid.list-view {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.card-grid.list-view .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    width: 100% !important;
    margin: 0 !important;
}

.card-grid.list-view .card img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

.card-grid.list-view .card-body {
    text-align: left;
    flex: 1;
    padding: 0 15px;
}

.card-grid.list-view .card-footer {
    width: auto;
    border-top: none;
    padding: 0 15px;
}

.toggle-view-btn {
    transition: background-color 0.3s ease;
}

.toggle-view-btn:active {
    background-color: #513a69;
}