<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> trckd - Uploading... </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <style>
            .bg-purple-dark {
                background-color: #2f243a;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid"> 
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3 col-lg-2 bg-purple-dark text-white sidebar p-3 min-vh-100"> 
                    <h4 style="font-weight: bold;"> Sidebar </h4>

                    <!-- List items -->
                    <ul class="nav flex-column">
                        <li class="nav-item"> <a href="#" class="nav-link text-white">Home</a> </li>
                        <li class="nav-item"> <a href="#" class="nav-link text-white">Upload Cards</a> </li>
                        <li class="nav-item"> <a href="#" class="nav-link text-white">My Collection</a> </li>
                    </ul> 
                </div>

                <!-- Content -->
                <div class="col-9 min-vh-100">
                    <h1 style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;"> Add your cards! </h1>
                    <hr>
                    <h2 style="padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 5px;">Choose your adding method</h2>

                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="p-3 border rounded shadow-sm">
                                <h5 style="font-weight: bold;"> Search by name & filter </h5>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="p-3 border rounded shadow-sm">
                                <h5 style="font-weight: bold;"> Upload cards using a CSV file </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>